body {
  background: linear-gradient(
    90deg,
    rgb(238, 153, 5) 0%,
    rgb(214, 255, 100) 100%
  );
}
.App {
  text-align: center;
  background: linear-gradient(
    90deg,
     rgb(214, 255, 100) 0%,
     rgb(238, 153, 5) 100%
  );
  border: 10mm;
  border-radius: 4mm;
}
.form-input {
  width: 200px;
  padding: 5px 20px 10px 20px;
  text-align: left;
  margin: 20px 10px;
  background-color: rgb(236, 247, 162);
  color:rgb(13, 14, 8);
  font-size: 15px;
}

.form-button {
  cursor: pointer;
  width: 100px;
  padding:  5px 20px 10px 20px;
  text-align: center;
  margin: 20px 10px;
  background-color: rgb(164, 252, 189);
  border-radius: 2mm;
  color:rgb(13, 14, 8);
  font-size: 15px;
}

.product-container {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  width: 450px;
  padding: 10px 10px 10px 10px;
  margin: 15px 130px 15px 120px;
  background-color: rgb(236, 247, 162);
  border-style:ridge;
  border-color: black;
  color:rgb(13, 14, 8);
  font-size: 15px;
}

.delete-product {
  color:rgb(228, 14, 57);

}
.edit-product {
  color:rgb(91, 205, 239);

}